<h1 class="mt-4">User Dashboard</h1>
<p class="lead mb-3">Welcome </p>
<p class="lead mb-3"><%= name %></p>
<a href="/auth/logout" class="px-4 py-2 mt-2 text-sm font-semibold rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-primary dark-mode:focus:bg-gray-600 dark-mode:focus:text-white text-white md:mt-0 md:ml-4 hover:text-white focus:text-gray-900 hover:bg-primary bg-primary">Logout</a>
