<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  
  </head>

  <body class="bg-gray-50  antialiased leading-none ">
    <%- include('../partials/navbar') %>

    <main class="mb-2" >
      <div class="md:container md:mx-auto mt-10 min-h-screen"><%- body%></div>
         
    </main>
     <%- include('../partials/footer') %>
  </body>

 

</html>
