<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>TechTemple</title>

<meta name="robots" content="index, follow" />
<meta
  name="description"
  content="Dynamic Computer institute provide computer classes in gulmi like tally training, computer hardware training, basic computer classes, computer repair solution.,  "
/>
<meta
  name="keywords"
  content="Computer institute in gulmi,computer  institute company in nepal,tally training in gulmi,computer hardware training in gulmi, website development in gulmi,mobile repair solution in gulmi,mobile app development company gulmi,best computer institute in gulmi"
/>


<link rel="stylesheet" href="/assets/styles/main.css">
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.8.1/cdn.min.js"
  defer
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link
  rel="stylesheet"
  href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
/>

<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap"
  rel="stylesheet"
/>
